Checks: >
  clang-analyzer-*,
  -clang-diagnostic-unsafe-buffer-usage,
  -clang-analyzer-security.*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-macro-parentheses,
  -bugprone-crtp-constructor-accessibility,
  -bugprone-throwing-static-initialization,
  -bugprone-derived-method-shadowing-base-method,
  performance-*,
  -performance-unnecessary-value-param,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  -performance-move-const-arg,
  readability-const-return-type,
  readability-redundant-smartptr-get,
  readability-const-return-type,
  readability-redundant-member-init,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-default-member-init,
  modernize-use-using,
  modernize-loop-convert,
  modernize-pass-by-value,
  -modernize-use-using,
  -modernize-use-override,
  # cppcoreguidelines-special-member-functions

HeaderFilterRegex: '.*/globed/.*'

CheckOptions:
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: false