# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS Thumbnail Caches
**/.DS_Store

# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Ignore build folders
**/build
# Ignore platform specific build folders
build-*/

# Workspace files are user-specific
*.sublime-workspace

# Visual Studio Code
**/.vscode

# Local History for Visual Studio Code
.history/

# clangd
.cache/

# Visual Studio
.vs/

# CLion
.idea/
/cmake-build-*/

build.sh
build-fast.sh
build-android.sh
build-armv8.sh

mod-w.json
mod-a.json

server/bench-client
server/target
server/central-conf.json
server/game/flamegraph.svg
server/game/perf.data
server/game/perf.data.old
server/game/test-flamegraph.sh
server/game/test-bench.sh
server/globed_game_server.log
server/out
server/build-all.sh
server/run-trace.sh
server/run.sh
server/central/central-conf.json
server/central/db.sqlite
server/central/db.sqlite-shm
server/central/db.sqlite-wal
server/central/.env
server/central/Rocket.toml
src/hooks/cvh

server/rustc-ice-*.txt
server/db.sqlite

libs/openssl
globed-lerp-log.bin

!libs/sodium/libsodium.lib
!libs/opus/opus.lib

*.log

motd.md
