[package]
name = "globed-central-server"
version = "1.4.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
globed-shared = { path = "../shared" }

async-watcher = "0.2.1"
blake2 = "0.10.6"
digest = "0.10.7"
ipnet = "2.9.0"
iprange = "0.6.7"
serde = { version = "1.0.202", features = ["serde_derive"] }
serde_json = "1.0.117"
tokio = { version = "1.37.0", features = ["full"] }
json_comments = "0.2.2"
rocket = { version = "0.5.0", features = ["json"] }
rocket_db_pools = { version = "0.1.0", features = ["sqlx_sqlite"] }
sqlx = { version = "0.7.4", features = ["migrate"] }
rocket_cors = "0.6.0"
